<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="2.0.1" targetFramework="net462" developmentDependency="true" />
  <package id="Fody" version="3.0.3" targetFramework="net462" developmentDependency="true" />
  <package id="KY.Core.Common" version="3.5.1480" targetFramework="net462" />
</packages>